# Bỏ qua tất cả các file log
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Bỏ qua thư mục node_modules
**/node_modules

# Báo cáo chẩn đoán sinh ra bởi Node.js
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Các file dữ liệu runtime
pids
*.pid
*.seed
*.pid.lock

# Thư mục liên quan đến coverage
lib-cov
coverage
*.lcov
.nyc_output

# Lưu trữ tạm thời Grunt
.grunt

# Thư mục phụ thuộc của Bower
bower_components

# Cấu hình node-waf
.lock-wscript

# Các binary addons đã biên dịch
build/Release

# Thư mục phụ thuộc
node_modules/
jspm_packages/

# Thư mục phụ thuộc Snowpack
web_modules/

# Cache TypeScript
*.tsbuildinfo

# Thư mục cache npm tùy chọn
.npm

# Cache eslint tùy chọn
.eslintcache

# Cache stylelint tùy chọn
.stylelintcache

# Cache Microbundle
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

# Lịch sử REPL tùy chọn
.node_repl_history

# Output của 'npm pack'
*.tgz

# File Integrity của Yarn
.yarn-integrity

# File biến môi trường dotenv
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Cache parcel-bundler
.cache
.parcel-cache

# Thư mục build của Next.js
.next
out

# Thư mục build/generate của Nuxt.js
.nuxt
dist

# Các file của Gatsby
.cache/

# Output build của vuepress
.vuepress/dist

# Thư mục tạm và cache của vuepress v2.x
.temp
.cache

# Cache và các file được sinh ra của Docusaurus
.docusaurus

# Các thư mục của Serverless
.serverless/

# Cache của FuseBox
.fusebox/

# Các file Local của DynamoDB
.dynamodb/

# File port của TernJS
.tern-port

# Phiên bản của VSCode được sử dụng cho kiểm thử tiện ích mở rộng VSCode
.vscode-test

# Cache và state của yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
